<!-- The sidebar -->
<div class="d-flex">
<div class="sidebar border-end- col-sm-3" style="height: 100vh;">
  <a class="active" href="/admin">Menu</a>
  <a href="/admin">Dashboard</a>
  <a href="/admin/products">Products</a>
  <a href="/admin/Categories">Categories</a>
  <a href="/admin/customers">Customers</a>
  <a href="/admin/orders">Orders</a>
  <a href="/admin/banner">Banner</a>
  <a href="/admin/coupons">Coupons</a>
  <a href="/admin/sales">Sales Report</a>
</div>
