<div class="d-flex">
<div class="sidebar border-end- col-sm-3" style="height: 100vh;">
  <a class="active" href="">Settings</a>
  <a href="/orders">Orders</a>
  <a href="/address">Address</a>
  <a href="/userprofile">Account Details</a>
  <a href="/wishlist">Wishlist</a>
  <a href="#">Logout</a>
</div>