<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="/stylesheets/error.css">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Roboto:100,300,400,500,700,900" rel="stylesheet" />
<div class="container">
    <div class="error-wrapper">
        <div class="man-icon"></div>
        <h3 class="title">404</h3>
        <p class="info">Oh! Page not found</p>
        <a href="/home"><button type="button" class="home-btn">HOME</button>
    </div></a>
</div>